<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="vivace-plugin-imei" version="1.0.0">
    <name>Imei</name>
    <description>Vivace Imei Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,imei,phonegap,plugin</keywords>
    <repo>https://github.com/scripthub/Imei.git</repo>

    <engines>
        <engine name="cordova" version=">=2.11.2" />
    </engines>

    <platform name="android">
        <js-module src="www/Imei.js" name="Imei">
            <clobbers target="Imei" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Imei">
                <param name="android-package" value="com.vivace.plugin.imei.Imei"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/Imei.java" target-dir="src/com/vivace/plugin/imei" />
    </platform>
</plugin>